/*
Custom styles for forms
1. Reset page
2. Custom element styling
3. FontAwesome customisation
4. Form customisation 
*/

/* 1. Reset page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    margin: 2.5rem;
}

/* 2. Custom element styling */
header {
    background-color: #f4f4f4;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    margin: 0.5rem;
}
input {
    font-size: 0.8rem;
    padding: 0.2rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
}
h1, h2, h3, h4, h5 , small, label {
    text-transform: capitalize;
}
small {
    margin: 0.2rem
}
button {
    padding: 0.5rem;
    margin: 0.8rem;
    text-transform: uppercase;
    border-radius: 0.35rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* 3. FontAwesome customisation */
.fas {
    font-size: 1.1rem;
}
.fa-check-circle {
    color: #51d908;
}
.fa-exclamation-circle {
    color: #ec0909;
}

/* 4. Form customisation */
.form-control {
    width: 100%;
    border-bottom: 0.5px solid #f4f4f4;
    padding: 0.45rem;
}

.form-control label{
    display: block;
    margin: 0.2rem;
}
.form-control input {
    
}
.form-control button{
    display: block;
}
